TOP_ENERGY_USERNAME=example@mail.com
TOP_ENERGY_PASSWORD=password123
TOP_ENERGY_HOST=http://localhost:8010
ALLOWED_ORIGINS=http://localhost:3000
XAI_API_KEY=GET_FROM_HERE:https://console.x.ai/team/ecce6972-0405-41e2-b5f9-9aca1d4e670b/api-keys
